<%= form_with(model: opening) do |form| %>
  <% if opening.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(opening.errors.count, "error") %> prohibited this opening from being saved:</h2>

      <ul>
        <% opening.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.text_field :id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.time_field :start %>
  </div>

  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.time_field :end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
