<div id="<%= dom_id opening %>">
  <p>
    <strong>Id:</strong>
    <%= opening.id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= opening.date %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= opening.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= opening.end %>
  </p>

</div>
